<section class="feature container">
  <div class="feature__image">
    <img
      src="./assets/images/bba43c2a5eff193546f25fba4a813df1.png"
      alt="b2bgraphs"
    />
  </div>
  <div class="feature__detail">
    <h2 class="feature__title">خدمات تپسی ویژه کسب و کارها</h2>
    <p class="feature__text">
      پنل سازمانی تپسی، یک سامانه تحت وب است که به سادگی امکان درخواست هم‌زمان
      تعداد نامحدودی خودرو و پیک را برای کسب‌وکارها و سازمان‌ها فراهم می‌کند. و
      با استفاده از آن می‌توانید ماموریت های درون‌شهری و ارسال کالاهای خود را به
      سادگی مدیریت کنید.
    </p>
    <a href="#" class="feature__link">اطلاعات بیشتر سرویس سازمانی &gt;</a>
    <button class="btn btn--primary">ورود و ثبت نام پنل سازمانی</button>
  </div>
</section>
<section class="feature container">
  <div class="feature__image voucher">
    <img
      src="./assets/images/91b808e8b72295b1019e994526eeb596.png"
      alt="voucher"
    />
  </div>
  <div class="feature__detail voucher">
    <h2 class="feature__title">خرید کد اعتبار تپسی</h2>
    <p class="feature__text">
      کد اعتبار تپسی امکان استفاده از تخفیف یک تا ده درصدی سفر با تپسی را برای
      کاربران، کسب و کارها و سازمان‌ها فراهم می‌کند. تنها با صرف چند دقیقه
      می‌توانید این کد را تهیه کنید تا هزینه سفرهایتان با تپسی را کاهش دهید یا
      آن را در اختیار کارکنان و مشتریانتان بگذارید.
    </p>
    <button class="btn btn--primary">خرید کد اعتبار و تخفیف</button>
  </div>
</section>
